<section id="center" class="relative min-h-screen">
  <theme-picker class="absolute top-4 right-4"></theme-picker>
  <div class="hero">
    <h1 class="text-red-500">Web Component Library</h1>
    <p>Using standard decorators, Vite ?raw imports, and Signals!</p>
  </div>
  <div>
    <p>Edit <code>src/components/app.component.ts</code> and save to test <code>HMR</code></p>
  </div>
  
  <!-- Notice the Angular-like syntax -->
  <button id="counter" type="button" class="counter" (click)="increment">
    Count is {{ count }}
  </button>

  <br><br>

  <button type="button" class="counter" [hidden]="!canInstall" (click)="installPwa">
    📱 Install App
  </button>
</section>
